.partners{
  margin-top: 80px;
  text-align: center;
  h2{
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
    color: #244D4D;
  }
  .partner-list{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 40px;
    justify-content: center;
  }
}